.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 10px;
}

.close {
    font-size: 24px;
    cursor: pointer;
    color: black;
    background: none;
    border: none;
    align-self: flex-start;
}

.user-picture {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.edit-picture {
    display: flex;
    flex-direction: column;
}

.edit-picture h3 {
    margin: 0;
    color: black;
}

.edit-picture p {
    color: #666;
    font-size: 14px;
    margin: 5px 0 15px;
}

.file {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.file:hover {
    background-color: #333;
}

.user-details .input-group {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.user-details label {
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

.user-details input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    min-height: 80px;
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.edit-profile-btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}

.edit-profile-btn:hover {
    background-color: #333;
}