.resource-hub-container {
    padding: 20px;
    background-color: white;
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: left;
    font-weight: 600;
    font-size: 24px;
    margin-left: 10px;
  }
  
  .resource-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Ensure the grid uses multiple columns */
    gap: 20px;
    justify-items: center; /* Center the grid items horizontally */
  }
  
  .resource-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherit color for link */
    width: 100%; /* Ensure the card takes up the full width */
    max-width: 250px; /* Set a max width for each card */
  }
  
  .resource-card:hover {
    transform: translateY(-5px);
  }
  
  .resource-image {
    width: 100%; /* Make sure the image takes up the full width of the card */
    height: 180px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .resource-info {
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
  }