.settings-page {
  padding: 20px;
}

.settings-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  margin: auto;
  border: 1px solid #ddd;
}

.settings-title {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
}

.settings-section {
  margin-bottom: 20px;
}

.password-inputs label {
  display: block;
  margin: 10px 0 5px;
}

.settings-input {
  padding: 10px;
  width: 100%;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.update-btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.update-btn:hover {
  background-color: #45a049;
}

/* Dark Mode styles */
.settings-page.dark-mode {
  background-color: #121212;
  color: #f1f1f1;
}

.settings-page.dark-mode .settings-container {
  background-color: #1e1e1e;
  border: 1px solid #333;
}

.settings-page.dark-mode .settings-input {
  background-color: #333;
  color: #f1f1f1;
}

.settings-page.dark-mode .update-btn {
  background-color: #777;
}

.settings-page.dark-mode .update-btn:hover {
  background-color: #555;
}

/* Dark Mode Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}